.tileContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    box-sizing: content-box;
}

#myVid {
    display: none;
    max-width: 800px;
}

.tile {
    box-sizing: content-box;
    border: black 1px solid;
    padding: 0;
    margin: 0;
}